.main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    flex: 90%;
    background: #353432;
}

.todo-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 100px;
    justify-content:flex-start;
    /*width: 100%;*/
}

.add-task{
    width: 70%;
    height: 100px;
    /*margin: 0 100px;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
